### Zsh ###
# Zsh compiled script + zrecompile backup
*.zwc
*.zwc.old

# Zsh completion-optimization dumpfile
*zcompdump*

# Zsh history
*.zsh_history

*.zcompcache*
*.zsh_sessions*

/doom-emacs/.config/doom/config.el
/doom-emacs/.config/doom/packages.el
